.map-canvas img {
  max-width: none;
}

.map-canvas label {
  display: inline;
}

.map-canvas {
  min-height: 400px;
  height: 550px;
}

.add-element-window {
  width: 300px;
  height: 100%;
}

body {
  padding-top: 60px;
  font-size: 16px;
}

html {
  height: 100%;
}

.form-signin-container {
  max-width: 400px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-signin-container .alert-error {
  margin: 15px 0 0 0;
}

.form-signin {
  margin: 0;
}

