{namespace io.soy.login}

/**
 * The login page 
 */
{template .page}
<div class="container">
  <form class="form-signin" id="loginForm">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input id="loginInput" type="text" class="input-block-level" placeholder="Login">
    <input id="passwordInput" type="password" class="input-block-level" placeholder="Password">
    <button id="signButton" class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>
</div>
{/template}

