{namespace io.soy.settings}

/**
 * The settings
 */
{template .page}
<div class="container-fluid">
  <div class="row-fluid">
    <p class="lead">Some settings will be here in the future.</p>
  </div>
</div>
{/template}

